
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.register-form-div{
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  background-color: #F2F2F2;
  border: solid 1px #F2F2F2;
  border-radius: 2%;
}

.Subtitle-blank-40{
  padding-top: 40px;
}

.Subtitle-blank-20{
  padding-top: 20px;
}

.Subtitle-blank-10{
  padding-top: 10px;
}

.preference-form-area{
  display: flex;
  justify-content: center;
}

.preference-form-box{
  width: 650px;
  border-radius: 2%;
  border-color: gray;
  border-width: 1px;
  padding: 15px;
  margin-top:40px;
}

.preference-form-subject{
  text-align: center;
}
.Set-center{
  padding-left: 42%;
  text-align: left;
}

.align-items-center{
  align-items: center;
}

.progress-bar-div{
  display: flex;
  justify-content: center;
}
.progress-bar-width-300{
  width: 300px;
}

.menubar-height-4rem{
  height: 4rem;
}

.menubar-font-large{
  font-size: large;
}

.logo-font{
  padding: 5px 12px 5px 12px;
  background-color: #F2F2F2;
  border-radius: 5%;
}

.button-font-size{
  font-size: 0.5rem;
}

.chat-room-div{
  display: flex;
  height: calc(100vh - 4rem)
}
.chat-list-tab{
  width: 400px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  border-right: thin solid #F2F2F2;
}

.chat-text-box{
  width: calc(100% - 400px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.chat-container-div{
  border: solid 1px #F2F2F2;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 450px;
  /*  height: calc( 100%/2 );*/
}

.chat-message-show-area{
  width : 100%;
  min-width: 420px;
  flex: 1 0 auto;
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  opacity: 0.7;
  border-radius: 2%;
  padding: 5px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  height: calc( 100% - 140px );
}

.chat-message-text-area{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.chat-message-show-area-text{
  height: auto;
  padding: 2px 8px 2px 8px;
  margin: 6px;
  border-radius: 2%;
  display: block;
}

.chat-message-show-area-text.other-chat{
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-end; 
}

.chat-message-show-area-text.my-chat{
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end; 
}

.chat-message-text-div-inform{
  background-color: gray 0.5;
  padding: 5px;
  word-wrap: break-word;
}

.chat-message-text-div-other{
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-message-text-other{
  display: block;
  display: block;
  padding: 0 5px;
}

.chat-message-text-div-me{
  background-color: rgb(99, 3, 3);
  padding: 5px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap:break-word;
}

.chat-message-text-me{
  color: white;  
  display: block;
  padding: 0 5px;
}

.chat-message-text-time{
  font-size: 12px;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: bottom;
}

.chat-message-text-inform{
  font-size: 14px;
  font-weight: bold;
}

.chat-message-input-area{
  width : 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #F2F2F2;
  display: flex;
}

.ChattingRoom-Border{
  border : solid 1px #F2F2F2;
  padding: 5px;
  border-radius: 2%;
}

.right-align-close{
  margin-left: auto;
}

.chat-matching-modal-div{
  position: fixed; /* 고정 위치로 설정하여 페이지 스크롤에 영향을 받지 않습니다. */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경색을 사용하여 모달 이외의 영역을 어둡게 만듭니다. */
  z-index: 9999; /* 다른 요소 위에 표시될 수 있도록 높은 z-index 값을 설정합니다. */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-matching-modal-window{
  padding: 10px;
  width:500px;
  height: 300px;
  border: solid 1px #F2F2F2;
  border-radius: 2%;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-matching-info-align{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  white-space: pre-line;
}

.chat-matching-modal-button-div{
  padding-top: 15px;
}